<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("AdminHome","Home")">
                    <img src="~/images/Lahey_Health_Logo.png" class="img-responsive" alt="Lahey Health Survey" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin Home", "AdminHome", "Home")</li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administer Questionnaire Data<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Importance Values", "Index", "ImportanceValues")</li>
                        <li>@Html.ActionLink("Items (questions)", "Index", "Items")</li>
                        <li>@Html.ActionLink("Languages", "Index", "Language")</li>
                        <li>@Html.ActionLink("Scales", "Index", "Scales")</li>
                        <li>@Html.ActionLink("Skill Values", "Index", "SkillValues")</li>
                        <li>@Html.ActionLink("Subscales", "Index", "Subscales")</li>
                    </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <br>
        @Html.Partial("_Footer")       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
