@model LaheyHealth.Models.Subscale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.IsInRole("Admin")) { 

<h2>Details</h2>

<div>
    <h4>Subscale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language.LanguageName)
        </dt>

        <dd>
            @try
            {
                @Html.DisplayFor(model => model.Language.LanguageName)
            }
            catch
            {
                <text>Null</text>
                
            }
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Scale.Name)
        </dt>

        <dd>
            @try { 
                @Html.DisplayFor(model => model.Scale.Name)
            }
            catch
            {
                <text>Null</text>
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

}
else {
    <h2>You need to be logged in as administrator to view this page</h2>
}